.conteudo{
    display: flex;
    justify-content: space-between;
}

.cartao{
    background-color: aqua;
    color: red;
    border-radius: 20px;    
    height:20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);

}